node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.idea/$CACHE_FILE$
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/candango.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/workspace.xml
